.nav-tomorrow{
  width: 100%;
  background-color: rgb(229, 212, 190);
  border-radius: 8px;
  width: auto;
  height:70px;
  display: flex;
}
.link-one{
  text-align: center;
  font-size: 29px;

}
.ul-link{
  display: flex;
  list-style: none;
  padding-left: 800px;
  text-decoration: none;
}
.txt-harmony{
  padding-left: 4px;
  color: rgb(19, 17, 16);
  padding-top: 5px;
}
.ul-list{
  list-style: none;
}

.txt-about{
  padding-left: 950px;
  text-decoration: none;
}
.txt-welcome{
  text-align: center;
}
.txt-welcome-btn{
  padding-left:550 ;
  width: 100px;
  height: 50px;
}

/* Cards-Style */
.div-card{
  background-color: rgba(243, 203, 203, 0.911);
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(228, 175, 175, 0.911);
}
.card-title-one{
  text-align: center;
  font-size: 35px;
  color: rgba(224, 22, 22, 0.63);
}
.card-id-one{
  text-align: center;
  border: solid rgba(231, 122, 122, 0.911) 6px;
  width: 200px;
  border-radius: 9px;
 
}
.card-list-one {
  list-style-type: none;
  display: flex;
 
  
}
.card-button-one{
  background-color: rgba(0, 0, 0, 0.911);
  color: azure;
  border: solid black 2px;
  border-radius: 3px;
  height: 30px;
  box-shadow: 3px 3px 3px rgb(4, 12, 15);
}
.card-button-two{
  background-color: rgba(240, 28, 28, 0.911);
  color: azure;
  border: solid rgb(223, 37, 37) 2px;
  border-radius: 3px;
  height: 30px;
  box-shadow: 3px 3px 3px rgb(235, 39, 65);
}
.h3-one{
  color: rgb(20, 20, 20);
}
.card-button-two :hover{
  background-color: rgba(218, 67, 67, 0.911);
}
.flex-container {
  display: flex;
}
.loading{
  font-size: 27px;
  color: rgb(250, 83, 53);
  text-align: center;
}
.ul-list-two{
  display: flex;
}
.add-new{
  padding-left: 50px;
}